body {
    margin: 0%;
    top: 0%;
    cursor: none;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background: #0d0d0d;
    color: #fff;
    text-align: center;
}

input::placeholder {
    color: rgba(245, 245, 245, 0.863);
}

/* Navbar */
.navbar {
    width: 100%;
    height: 100px;
    border: none;
    background-color: rgb(39, 1, 39);
    cursor: pointer;
}

/* Logo */
.logo {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 25px;
    margin-left: -60%;
    padding-top: 3%;
    transition: 0.2s;
    transition-delay: 0.2s;
}

#left-logo {
    position: relative;
    left: 8px;
}

#right-logo {
    position: relative;
    right: 6px;
}

.logo:hover {
    font-size: 27px;
}

#hr {
    border: 1px solid #39b5b9;
    margin-top: -1px;
    height: 20px;
}

/* navbar List */
.items {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: flex;
    margin-left: 46.9%;
    margin-right: 110px;
    margin-top: -1.7%;
    cursor: pointer;
}

.items a {
    text-decoration: none;
    transition-property: color ;
    transition: 0.5s;
    color: whitesmoke;
}

.items a:hover {
    font-size: larger;
    color: #00faff;
}

/* home horizontal line */
#active::after {
    content: "";
    position: absolute;
    right: 46.6%;
    width: 3.5%;
    top: 11%;
    height: 4px;
    background: #39b5b9;
    border-radius: 2px;
    box-shadow: 0 0 10px #39b5b9;
}

.list {
    list-style: none;
}

/* Purple Box */
.box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    width: 100%;
    margin-top: -1%;
    height: 480px;
    background-color: rgb(39, 1, 39);
}

.para {
    font-family: serif;
    position: relative;
    color: whitesmoke;
    font-size: 30px;
    top: 13%;
    left: -540px;
}

.para1 {
    font-family: serif;
    position: relative;
    top: -5%;
    color: whitesmoke;
    font-size: 30px;
    left: -530px;
}

.par {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    top: -3%;
    color: #39b5b9;
    left: -420px;
}

.par1 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    top: -21%;
    /* text-align: center; */
    color: #39b5b9;
    left: -20.8%;
}

/* Popup hidden by default */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

/* Popup box */
.popup-content {
    position: relative;
    background-color: #121727e0;
    color: whitesmoke;
    display: flex;
    top: 70px;
    justify-content: center;
    padding: 60px 280px;
    white-space: nowrap;
    border-radius: 10px;
    width: 400px;
    margin: 100px auto;
    border: 2px solid #1a1a2ecc;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    text-align: center;
}

.popup-content:hover {
    background-color: #22293de0;
}

.popup-content h2 {
    font-family: serif;
    position: relative;
    font-size: 30px;
    top: -70px;
    left: 435px;
}

.popup-content span {
    position: relative;
    top: -50px;
    left: 1050px;
}

.card {
    position: relative;
    top: 10px;
    margin: 0 10px;
    background: #1a1a2e;
    padding: 10px 20px;
    border-radius: 12px;
    width: 180px;
    left: -180px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    transition: 0.5s ease-in-out;
}

.card a {
    text-decoration: none;
    color: whitesmoke;
}

.card:hover {
    transform: scale(1, 1.05);
}

/* Close button */
#closePopup {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: red;
}


/* Paragraph */
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 13px;
    text-align: left;
    color: rgb(187, 180, 180);
    margin-top: -110px;
    left: 95px;
}

/* Num Icon */
.icon {
    color: rgb(83, 10, 10);
    margin-left: -85%;
    font-size: 15px;
    margin-top: 25px;
}

/* Num Heading */
.num {
    font-family: serif;
    color: whitesmoke;
    margin-left: -77.5%;
    font-size: 20px;
    margin-top: -31px;
}

/* Phone Num */
.phone {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187, 180, 180);
    margin-left: -78.5%;
    font-size: 13px;
    margin-top: -9px;
}

/* Email Heading */
.mail {
    color: whitesmoke;
    margin-left: -42%;
    font-size: 20px;
    margin-top: -35px;
}

/* Email */
.email {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(187, 180, 180);
    margin-left: -38.5%;
    font-size: 13px;
    margin-top: -8px;
}

/* Emial icon */
.icn {
    position: relative;
    color: rgb(255, 255, 255);
    margin-left: -48%;
    font-size: 15px;
    margin-top: -55px;
}

/* CV Button */
.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 7%;
    top: -320px;
    left: -305px;
    background-color: #ffffff;
    border-radius: 15px;
    height: 10%;
    position: relative;
    cursor: pointer;
    border: 2px solid #6f7070;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    transition: 0.01s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

#freelancerBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 8%;
    top: -320px;
    left: -170px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 15px;
    height: 10%;
    position: relative;
    cursor: pointer;
    border: 2px solid #6f7070;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.39);
    transition: 0.01s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

/* Own img */
.img {
    position: relative;
    width: 25%;
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.39);
    height: 75%;
    left: 15%;
    top: -310px;
    transition: 0.2s;
    transition-delay: 0.2s;
}

.img:hover {
    transform: scale(1, 01.02);
}

.button:hover,
.button a:hover,
#freelancerBtn:hover {
    transform: scale(1, 01.1);
    color: #ffffff;
    background-color: #11595a;
}

.button a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* freelancer button */
#services {
    border: 2px solid #0059ff3b;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    white-space: nowrap;
    margin-top: 30px;
    margin-left: 40px;
    width: 900px;
    padding: 40px;
    /* height: 200px; */
    display: none;
}

#services:hover {
    background-color: #0e3233;
}

#services.active {
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

#services a {
    text-decoration: none;
    color: whitesmoke;
}

/* blackish box */
.box1 {
    cursor: pointer;
    width: 100%;
    height: 1100px;
    margin-top: -35px;
    background-color: #363434;
}

/* About Heading */
.pr {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    color: #39b5b9;
}

.pr a {
    color: #39b5b9;
    text-decoration: none;
}

/* horizontal line */
.hr {
    margin-left: 600px;
    margin-top: -30px;
    width: 145px;
    border: none;
    height: 3px;
    background: linear-gradient(to right, #00faff, #00faff, blue);
}

/* introduction */
.int {
    margin-left: -20px;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: whitesmoke;
    margin-left: -820px;
    margin-top: 50px;
}

/* intro vertical line */
.vertical-line {
    border-left: 4px dashed #39b5b9;
    height: 95px;
    margin-left: 120px;
    margin-bottom: 10px;
}

/* left arrow */
#left {
    color: #39b5b9;
    margin-left: -30px;
}

/* Slash Icon */
#slash {
    color: #39b5b9;
    margin-left: -15px;
}

/* Right arrow */
#right {
    color: #39b5b9;
    margin-left: -15px;
}

/* Profession intro */
.intro1 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 140px;
    margin-top: -100px;
}

/* skills */
.skil {
    margin-left: -20px;
}

.skill {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: whitesmoke;
    margin-left: -920px;
    margin-top: 90px;
}

/* Skills vertical-line*/
.vertical-line1 {
    border-left: 4px dashed #39b5b9;
    height: 130px;
    margin-left: 120px;
}

/* left arrow */
#left1 {
    color: #39b5b9;
    margin-left: -30px;
}

/* Slash Icon */
#slash1 {
    color: #39b5b9;
    margin-left: -15px;
}

/* Right arrow */
#right1 {
    color: #39b5b9;
    margin-left: -15px;
}

/* Profession skills */
.skill1 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 140px;
    margin-top: -130px;
}

/* buttons */
.buton {
    margin-top: 10px;
    margin-left: 125px;
}

/* HTML btn */
#btn {
    padding: 5px 10px;
    border: 1px solid #39b5b9;
    border-radius: 6px;
    background-color: #1e2f33;
    color: white;
    margin-left: -980px;
    font: 1em sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

#btn:hover {
    background-color: #11595a;
}

/* CSS btn */
#btn1 {
    padding: 5px 15px;
    border: 1px solid #39b5b9;
    border-radius: 6px;
    background-color: #1e2f33;
    color: white;
    font: 1em sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

#btn1:hover {
    background-color: #11595a;
}

/* Javascript btn */
#btn2 {
    padding: 5px 15px;
    border: 1px solid #39b5b9;
    border-radius: 6px;
    background-color: #1e2f33;
    color: white;
    font: 1em sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}

#btn2:hover {
    background-color: #11595a;
}

/* education  */
#edu-icn {
    color: #39b5b9;
    margin-top: 40px;
    margin-left: 135px;
}

.vertical-line2 {
    position: relative;
    border-left: 4px dashed #39b5b9;
    margin-top: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-left: 120px;
}

/* Education */
.edu {
    margin-left: -20px;
}

.education {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 40px;
    margin-left: -1020px;
    color: whitesmoke;
}

.education1 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 140px;
    margin-top: -70px;
}

/* Achievements & Certifications */
.achieve {
    margin-left: -20px;
}

#achievements {
    color: #39b5b9;
    margin-top: 30px;
    margin-left: -585px;
}

.achievements {
    color: white;
    margin-top: 30px;
}

.vertical-line3 {
    border-left: 4px dashed #39b5b9;
    margin-top: 30px;
    height: 50px;
    margin-left: 120px;
}

.achievements1 {
    color: white;
    font: 1em sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 140px;
    margin-top: -47px;
}

.certificate {
    margin-top: 20px;
    margin-left: -700px;
    text-align: center;
}

.certificate:hover {
    color: #00faff;
}

.achievement {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    border: 1px solid #39b5b9;
    background-color: #1e2f33;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition-duration: 0.2s;
}

.achievement:hover {
    background-color: #11595a;
    background-position: right;
}

.achievement i {
    color: #39b5b9;
}

/* last box */
.box2 {
    cursor: pointer;
    width: 100%;
    height: 800px;
    margin-top: -30px;
    background-color: rgb(39, 1, 39);
}

.pr-last {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 3%;
    color: #39b5b9;
}

.pr-last a {
    color: #39b5b9;
    text-decoration: none;
}

.hr-last {
    margin-top: -20px;
    margin-left: 600px;
    width: 135px;
    border: none;
    height: 3px;
    background: linear-gradient(to right, #00faff, #00faff, blue);
}

/* Whatapp Box */
.box-wp {
    background-color: rgba(58, 54, 54, 0.2);
    width: 400px;
    height: 210px;
    margin-top: 240px;
    margin-left: 240px;
}

.way {
    position: relative;
    top: -1px;
    font: 1em sans-serif;
    color: rgb(179, 176, 176);
    margin-left: -170px;
    font-size: 22px;
    padding-top: 30px;
}

.way1 {
    margin-top: -2px;
    margin-left: -200px;
    color: #39b5b9;
}

#i {
    position: relative;
    padding-left: 185px;
    top: -42px;
}

.way2 {
    color: #39b5b9;
    font: 1em sans-serif;
    margin-left: 140px;
    font-weight: bolder;
    font-size: 22px;
    margin-top: -89px;
}

.way3 {
    color: #39b5b9;
    font: 1em sans-serif;
    margin-left: -143px;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 20px;
}

.way4 {
    color: white;
    font: 1em sans-serif;
    margin-left: 60px;
    font-size: 20px;
    margin-top: -22px;
}

.b {
    background-color: rgb(10, 167, 114);
    color: white;
    font-size: 17px;
    border: none;
    margin-top: 30px;
    margin-left: -2px;
    width: 230px;
    height: 50px;
    box-shadow: 2px 2px 20px 5px rgba(255, 255, 255, 0.3);
}

.b a {
    text-decoration: none;
    color: white;
    font-size: large;
}

.b:hover {
    box-shadow: 2px 2px 22px 7px rgba(255, 255, 255, 0.3);
}

/* Last Box */
.box-l {
    background-color: rgba(58, 54, 54, 0.2);
    width: 400px;
    height: 600px;
    margin-left: 700px;
    margin-top: -390px;
}

.fo {
    position: relative;
    top: 7.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -210px;
    color: rgb(226, 220, 220);
    font-size: 21px;
    padding-top: 40px;
}

#en {
    position: relative;
    left: -5px;
    color: rgb(224, 223, 223);
    margin-left: -50px;
}

.fo1 {
    position: relative;
    left: 100px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(226, 220, 220);
    font-size: 21px;
    margin-top: -35px;
}

.fo2 {
    margin-left: 0px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(226, 220, 220);
    font-size: 21px;
}

.fo3 {
    margin-left: 30px;
    text-align: left;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(226, 220, 220);
    font-size: 21px;
}

#holder {
    font-size: larger;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    margin-left: 5px;
    border-radius: 10px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #39b5b9;
    background: transparent;
    box-shadow: 2px 2px 10px 7px rgba(57, 104, 116, 0.3);
}

#holder1 {
    font-size: larger;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    border: 2px solid #39b5b9;
    background: transparent;
    box-shadow: 2px 2px 10px 7px rgba(57, 104, 116, 0.3);
}

#holder2 {
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 60px;
    color: rgb(236, 232, 232);
    margin-top: 35px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #39b5b9;
    box-shadow: 2px 2px 20px 7px rgba(57, 104, 116, 0.3);
    background-color: #1a1a2e;
}

#holder2:hover {
    background-color: #1c585a;
    color: whitesmoke;
    font-size: 25px;
    box-shadow: 2px 2px 20px 1px rgba(255, 255, 255, 0.3);
}

.fo4 {
    margin-top: 40px;
    /* margin-left: 4px; */
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.bl {
    width: 50px;
    height: 50px;
    background-color: #363434;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 2px 2px 22px #39b5b9;
}

.bl:hover {
    background-color: rgb(0, 0, 255);
    box-shadow: 2px 2px 22px 7px rgba(255, 255, 255, 0.3);
}

#en1 {
    color: white;
    margin-left: 1px;
    margin-top: 25px;
}

.bl1 {
    width: 50px;
    height: 50px;
    background-color: #363434;
    border-radius: 50px;
    margin-left: 120px;
    margin-top: -50px;
    box-shadow: 2px 2px 22px #39b5b9;
}

.bl1:hover {
    background-color: rgba(31, 209, 31, 0.61);
    box-shadow: 2px 2px 22px 7px rgba(255, 255, 255, 0.3);
}

#wp {
    color: white;
    margin-left: 1px;
    margin-top: 9px;
}

#wp:hover {
    color: white;
}

/* Custom cursor circle */
.cursor {
    width: 35px;
    height: 35px;
    border: 2px solid #00faff;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    box-shadow: 0 0 10px #6fa1a3, 0 0 20px #6fa1a3;
    transition: 0.1s ease-out;
}

/* Inner dot */
.cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #00faff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #00faff;
}